{% extends "layout.html" %}
{% set active_page = "relais" %}
{% block body %}

<!-- App Capsule -->
<div id="appCapsule" class="full-height">

    <!--  Relais-->

    <div class="section mt-1 mb-1">
        <div class="section-title">Pico Relais Board </div>
        <div class="card">

            <ul class="listview image-listview transparent flush">

                <li>
                    <div class="item">
                        <div class="icon-box bg-danger">
                            <ion-icon name="thermometer-outline"></ion-icon>
                        </div>
                        <div class="in">
                            <strong>Relai 1 </strong>
                            {% if relays["1"] == true %}
                            <div class="form-check form-switch">
                                <input class="form-check-input relay-switch" type="checkbox" checked id="1" data-relay-id="1">
                                <label class="form-check-label" for="1"></label>
                            </div>
                            {% else %}
                            <div class="form-check form-switch">
                                <input class="form-check-input relay-switch" type="checkbox" unchecked id="1" data-relay-id="1">
                                <label class="form-check-label" for="1"></label>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <div class="icon-box bg-danger">
                            <ion-icon name="flame-outline"></ion-icon>
                        </div>
                        <div class="in">
                            <div class="in">
                                <strong>Relai 2 </strong>
                                {% if relays["2"] == true %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input relay-switch" type="checkbox" checked id="2" data-relay-id="2">
                                    <label class="form-check-label" for="2"></label>
                                </div>
                                {% else %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input relay-switch" type="checkbox" unchecked id="2" data-relay-id="2">
                                    <label class="form-check-label" for="2"></label>
                                </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <div class="icon-box bg-danger">
                            <ion-icon name="flame-outline"></ion-icon>
                        </div>
                        <div class="in">
                            <div class="in">
                                <strong>Relai 3 </strong>
                                {% if relays["3"] == true %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input relay-switch" type="checkbox" checked id="3" data-relay-id="3">
                                    <label class="form-check-label" for="3"></label>
                                </div>
                                {% else %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input relay-switch" type="checkbox" unchecked id="3" data-relay-id="3">
                                    <label class="form-check-label" for="3"></label>
                                </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <div class="icon-box bg-danger">
                            <ion-icon name="flame-outline"></ion-icon>
                        </div>
                        <div class="in">
                            <div class="in">
                                <strong>Relai 4 </strong>
                                {% if relays["4"] == true %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input relay-switch" type="checkbox" checked id="4" data-relay-id="4">
                                    <label class="form-check-label" for="4"></label>
                                </div>
                                {% else %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input relay-switch" type="checkbox" unchecked id="4" data-relay-id="4">
                                    <label class="form-check-label" for="4"></label>
                                </div>
                                {% endif %}
                                
                            </div>

                        </div>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <div class="icon-box bg-danger">
                            <ion-icon name="flame-outline"></ion-icon>
                        </div>
                        <div class="in">
                            <div class="in">
                                <strong>Relai 5 </strong>
                                {% if relays["5"] == true %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input relay-switch" type="checkbox" checked id="5" data-relay-id="5">
                                    <label class="form-check-label" for="5"></label>
                                </div>
                                {% else %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input relay-switch" type="checkbox" unchecked id="5" data-relay-id="5">
                                    <label class="form-check-label" for="5"></label>
                                </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <div class="icon-box bg-danger">
                            <ion-icon name="flame-outline"></ion-icon>
                        </div>
                        <div class="in">
                            <div class="in">
                                <strong>Relai 6 </strong>
                                {% if relays["6"] == true %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input relay-switch" type="checkbox" checked id="6" data-relay-id="6">
                                    <label class="form-check-label" for="6"></label>
                                </div>
                                {% else %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input relay-switch" type="checkbox" unchecked id="6" data-relay-id="6">
                                    <label class="form-check-label" for="6"></label>
                                </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <div class="icon-box bg-danger">
                            <ion-icon name="flame-outline"></ion-icon>
                        </div>
                        <div class="in">
                            <div class="in">
                                <strong>Relai 7 </strong>
                                {% if relays["7"] == true %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input relay-switch" type="checkbox" checked id="7" data-relay-id="7">
                                    <label class="form-check-label" for="7"></label>
                                </div>
                                {% else %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input relay-switch" type="checkbox" unchecked id="7" data-relay-id="7">
                                    <label class="form-check-label" for="7"></label>
                                </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </li>

                <li>
                    <div class="item">
                        <div class="icon-box bg-danger">
                            <ion-icon name="flame-outline"></ion-icon>
                        </div>
                        <div class="in">
                            <div class="in">
                                <strong>Relai 8 </strong>
                                {% if relays["8"] == true %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input relay-switch" type="checkbox" checked id="8" data-relay-id="8">
                                    <label class="form-check-label" for="8"></label>
                                </div>
                                {% else %}
                                <div class="form-check form-switch">
                                    <input class="form-check-input relay-switch" type="checkbox" unchecked id="8" data-relay-id="8">
                                    <label class="form-check-label" for="8"></label>
                                </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
{% endblock %}



